/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts styles */
body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3, h4 {
    font-family: "Unbounded", sans-serif;
}

h1 {
    @apply text-6xl tracking-wide font-bold;
}

h2 {
    @apply text-4xl font-medium;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-xl font-light;
}

/* Components UI */
.button {
    @apply rounded px-4 py-2 border-2 mx-2 outline-none ring-offset-transparent;
}

.button-vanilla {
    @apply bg-vanilla border-vanilla hover:bg-vanilla/90 hover:border-vanilla/40 focus:ring-2 focus:ring-offset-1 focus:ring-vanilla;
}

.button-outline-vanilla {
    @apply border-vanilla text-vanilla hover:bg-vanilla transition-all hover:text-black focus:ring-2 focus:ring-offset-1 focus:ring-vanilla;
}

.button-darkblue {
    @apply bg-darkblue text-white border-darkblue hover:bg-darkblue/90 hover:border-darkblue/40 focus:ring-2 focus:ring-offset-1 focus:ring-darkblue;
}

.button-outline-darkblue {
    @apply border-darkblue text-darkblue hover:bg-darkblue transition-all hover:text-white focus:ring-2 focus:ring-offset-1 focus:ring-darkblue;
}

.button-darkgreen {
    @apply bg-darkgreen text-white border-darkgreen hover:bg-darkgreen/90 hover:border-darkgreen/40 focus:ring-2 focus:ring-offset-1 focus:ring-darkgreen;
}

.button-outline-darkgreen {
    @apply border-darkgreen text-darkgreen hover:bg-darkgreen transition-all hover:text-white focus:ring-2 focus:ring-offset-1 focus:ring-darkgreen;
}

/* Forms */
label {
    display: block;
    @apply mt-2;
}

input {
    @apply rounded border-2 bg-gray-100 px-4 py-2 outline-none focus:bg-white focus:border-gray-500;
}